BCK_ENV=Development
BCK_API_URL=http://localhost:8080/api/v1
POSTGRES_DB=bck_agenda
POSTGRES_USER=bck
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SIGNING_KEY=CHANGE_ME_WITH_LONG_RANDOM_SECRET
